In [ ]:
!pip install pycountry_convert

Requirement already satisfied: pycountry_convert in /usr/local/lib/python3.7/dist-packages (0.7.2)
Requirement already satisfied: pytest>=3.4.0 in /usr/local/lib/python3.7/dist-packages (from pycountry_convert) (3.6.4)
Requirement already satisfied: repoze.lru>=0.7 in /usr/local/lib/python3.7/dist-packages (from pycountry_convert) (0.7)
Requirement already satisfied: pycountry>=16.11.27.1 in /usr/local/lib/python3.7/dist-packages (from pycountry_convert) (22.1.10)
Requirement already satisfied: wheel>=0.30.0 in /usr/local/lib/python3.7/dist-packages (from pycountry_convert) (0.37.1)
Requirement already satisfied: pytest-mock>=1.6.3 in /usr/local/lib/python3.7/dist-packages (from pycountry_convert) (3.2.0)
Requirement already satisfied: pprintpp>=0.3.0 in /usr/local/lib/python3.7/dist-packages (from pycountry_convert) (0.4.0)
Requirement already satisfied: pytest-cov>=2.5.1 in /usr/local/lib/python3.7/dist-packages (from pycountry_convert) (2.9.0)
Requirement already satisfied: setuptools in /usr/local/lib/python3.7/dist-packages (from pycountry>=16.11.27.1->pycountry_convert) (57.4.0)
Requirement already satisfied: attrs>=17.4.0 in /usr/local/lib/python3.7/dist-packages (from pytest>=3.4.0->pycountry_convert) (21.4.0)
Requirement already satisfied: pluggy<0.8,>=0.5 in /usr/local/lib/python3.7/dist-packages (from pytest>=3.4.0->pycountry_convert) (0.7.1)
Requirement already satisfied: py>=1.5.0 in /usr/local/lib/python3.7/dist-packages (from pytest>=3.4.0->pycountry_convert) (1.11.0)
Requirement already satisfied: more-itertools>=4.0.0 in /usr/local/lib/python3.7/dist-packages (from pytest>=3.4.0->pycountry_convert) (8.12.0)
Requirement already satisfied: atomicwrites>=1.0 in /usr/local/lib/python3.7/dist-packages (from pytest>=3.4.0->pycountry_convert) (1.4.0)
Requirement already satisfied: six>=1.10.0 in /usr/local/lib/python3.7/dist-packages (from pytest>=3.4.0->pycountry_convert) (1.15.0)
Requirement already satisfied: coverage>=4.4 in /usr/local/lib/python3.7/dist-packages (from pytest-cov>=2.5.1->pycountry_convert) (6.3.1)

In [ ]:
#Importing Libraries
from google.colab import drive
import pandas as pd
import numpy as np
from numpy import mean, std
from pycountry_convert import country_name_to_country_alpha2
from pycountry_convert import country_alpha2_to_continent_code

drive.mount('/content/drive')
directory = '/content/drive/MyDrive/Data Projects/Happiness/Files'

pd.set_option("display.max_rows", None, "display.max_columns", None)

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
#Importing Data
df_2009 = pd.read_csv(f'{directory}/World Happiness All.csv')
df_2021 = pd.read_csv(f'{directory}/World Happiness 2021.csv')

In [ ]:
#Dropping Unused Data
df_2009 = df_2009[df_2009.year == 2009]
df_2009 = df_2009.drop(df_2009.columns[[1, 9,  10]], axis=1)
df_2009 = df_2009.drop(907)
df_2021 = df_2021.drop(df_2021.columns[[1, 3, 4, 5, 12, 13, 14, 15, 16, 17, 18, 19]], axis=1)
df_2021 = df_2021.drop(32)

#Standardizing Feature Names
df_2009 = df_2009.rename(columns={'Log GDP per capita': 'Logged GDP per capita', 'Life Ladder': 'Happiness score', 'Healthy life expectancy at birth': 'Healthy life expectancy'})
df_2021 = df_2021.rename(columns={'Ladder score': 'Happiness score'})

#Standardizing Country Names
df_2021.loc[23,'Country name']='Taiwan'
df_2021.loc[73,'Country name']='Cyprus'
df_2021.loc[76,'Country name'] = 'Hong Kong'
df_2009.loc[701,'Country name'] = 'Hong Kong'
df_2021.loc[82,'Country name'] = 'Democratic Republic of the Congo'
df_2009.loc[388,'Country name'] = 'Democratic Republic of the Congo'
df_2021.loc[93,'Country name'] = 'Macedonia'
df_2009.loc[1288,'Country name'] = 'Macedonia'
df_2021.loc[124,'Country name'] = 'Palestine'
df_2009.loc[1328,'Country name'] = 'Palestine'
df_2009.loc[1562,'Country name'] = 'Somalia'

## Data Overview

### ◉ 2009 Data

In [ ]:
# #2009 Data Information
df_2009.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 113 entries, 1 to 1937
Data columns (total 8 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Country name                  113 non-null    object
 1   Happiness score               113 non-null    float64
 2   Logged GDP per capita         112 non-null    float64
 3   Social support                112 non-null    float64
 4   Healthy life expectancy       111 non-null    float64
 5   Freedom to make life choices  111 non-null    float64
 6   Generosity                    112 non-null    float64
 7   Perceptions of corruption     110 non-null    float64
dtypes: float64(7), object(1)
memory usage: 12.0+ KB

In [ ]:
#2009 Data Preview
df_2009.head()

,Country name,Happiness score,Logged GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
1,Afghanistan,4.402,7.540,0.552,51.20,0.679,0.190,0.850
13,Albania,5.485,9.262,0.833,66.20,0.525,-0.158,0.864
40,Argentina,6.424,9.977,0.919,67.18,0.637,-0.130,0.885
55,Armenia,4.178,9.111,0.680,65.10,0.441,-0.214,0.882
96,Azerbaijan,4.574,9.534,0.736,63.02,0.498,-0.087,0.754

In [ ]:
#2009 Descriptives
df_2009.describe()

,Happiness score,Logged GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
count,113.000000,112.000000,112.000000,111.000000,111.000000,112.000000,110.000000
mean,5.453832,9.266089,0.818973,62.418928,0.689036,-0.007214,0.761527
std,1.033458,1.157462,0.110722,7.469346,0.152023,0.162412,0.193050
min,3.408000,6.723000,0.326000,44.620000,0.258000,-0.303000,0.035000
25%,4.669000,8.341000,0.770750,58.830000,0.596500,-0.108500,0.690000
50%,5.353000,9.339500,0.835000,64.349000,0.710000,-0.026000,0.821500
75%,6.272000,10.098750,0.903250,66.950000,0.801000,0.074000,0.897500
max,7.683000,11.562000,0.964000,74.500000,0.949000,0.525000,0.979000

### ● 2021 Data

In [ ]:
#2021 Data Information
df_2021.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 148 entries, 0 to 148
Data columns (total 8 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Country name                  148 non-null    object
 1   Happiness score               148 non-null    float64
 2   Logged GDP per capita         148 non-null    float64
 3   Social support                148 non-null    float64
 4   Healthy life expectancy       148 non-null    float64
 5   Freedom to make life choices  148 non-null    float64
 6   Generosity                    148 non-null    float64
 7   Perceptions of corruption     148 non-null    float64
dtypes: float64(7), object(1)
memory usage: 14.5+ KB

In [ ]:
#2021 Data Preview
df_2021.head()

,Country name,Happiness score,Logged GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
0,Finland,7.842,10.775,0.954,72.0,0.949,-0.098,0.186
1,Denmark,7.620,10.933,0.954,72.7,0.946,0.030,0.179
2,Switzerland,7.571,11.117,0.942,74.4,0.919,0.025,0.292
3,Iceland,7.554,10.878,0.983,73.0,0.955,0.160,0.673
4,Netherlands,7.464,10.932,0.942,72.4,0.913,0.175,0.338

In [ ]:
#2021 Descriptives
df_2021.describe()

,Happiness score,Logged GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
count,148.000000,148.000000,148.000000,148.000000,148.000000,148.000000,148.000000
mean,5.527169,9.432980,0.814703,65.000770,0.791074,-0.016973,0.726169
std,1.075330,1.162497,0.115278,6.784302,0.113536,0.149481,0.179149
min,2.523000,6.635000,0.463000,48.478000,0.382000,-0.288000,0.082000
25%,4.847500,8.540250,0.749000,59.677750,0.717750,-0.127250,0.666250
50%,5.505500,9.573000,0.832000,66.651500,0.802000,-0.037000,0.778500
75%,6.231000,10.436000,0.905250,69.613000,0.877500,0.077500,0.844250
max,7.842000,11.647000,0.983000,76.953000,0.970000,0.542000,0.939000

## Data Cleaning

In [ ]:
#Checking For Missing Values
missing_2009 = df_2009.isnull().sum()
print('Missing Values (2009)')
print(missing_2009)
missing_2021 = df_2021.isnull().sum()
print('Missing Values (2021)')
print(missing_2021)

Missing Values (2009)
Country name                    0
Happiness score                 0
Logged GDP per capita           1
Social support                  1
Healthy life expectancy         2
Freedom to make life choices    2
Generosity                      1
Perceptions of corruption       3
dtype: int64
Missing Values (2021)
Country name                    0
Happiness score                 0
Logged GDP per capita           0
Social support                  0
Healthy life expectancy         0
Freedom to make life choices    0
Generosity                      0
Perceptions of corruption       0
dtype: int64

In [ ]:
#Mean imputing missing values for 2009 data
df_2009['Logged GDP per capita']=df_2009['Logged GDP per capita'].fillna(df_2009['Logged GDP per capita'].mean())
df_2009['Social support']=df_2009['Social support'].fillna(df_2009['Social support'].mean())
df_2009['Healthy life expectancy']=df_2009['Healthy life expectancy'].fillna(df_2009['Healthy life expectancy'].mean())
df_2009['Freedom to make life choices']=df_2009['Freedom to make life choices'].fillna(df_2009['Freedom to make life choices'].mean())
df_2009['Generosity']=df_2009['Generosity'].fillna(df_2009['Generosity'].mean())
df_2009['Perceptions of corruption']=df_2009['Perceptions of corruption'].fillna(df_2009['Perceptions of corruption'].mean())

#Rechecking For Missing Values
missing_2009 = df_2009.isnull().sum()
print('Missing Values (2009):')
print(missing_2009)

Missing Values (2009):
Country name                    0
Happiness score                 0
Logged GDP per capita           0
Social support                  0
Healthy life expectancy         0
Freedom to make life choices    0
Generosity                      0
Perceptions of corruption       0
dtype: int64

In [ ]:
#Adding Features for Country Names, Country Codes, and Continent Codes (2009)
for index, rows in df_2009.iterrows():
    cn_name = df_2009.loc[index,'Country name']
    try:
        df_2009.loc[index,'Country code'] = country_name_to_country_alpha2(cn_name, cn_name_format="default")
        cn_code = df_2009.loc[index,'Country code']
        df_2009.loc[index,'Continent code'] = country_alpha2_to_continent_code(cn_code)
    except:
        df_2009.loc[index,'Country code'] = 'unknown'
        df_2009.loc[index,'Continent code'] = 'unknown'
    if df_2009.loc[index, 'Continent code'] == 'NA':
        df_2009.loc[index,'Continent'] = 'North America'
    elif df_2009.loc[index, 'Continent code'] == 'SA':
        df_2009.loc[index,'Continent'] = 'South America'
    elif df_2009.loc[index, 'Continent code'] == 'AS':
        df_2009.loc[index,'Continent'] = 'Asia'
    elif df_2009.loc[index, 'Continent code'] ==  'OC':
        df_2009.loc[index,'Continent'] = 'Australia/Oceania'
    elif df_2009.loc[index,'Continent code'] == 'EU':
        df_2009.loc[index,'Continent'] = 'Europe'
    elif df_2009.loc[index,'Continent code'] == 'AF':
        df_2009.loc[index,'Continent'] = 'Africa'
    elif df_2009.loc[index,'Continent code'] == 'AN':
        df_2009.loc[index,'Continent'] = 'Antarctica'

#Adding Features for Country Names, Country Codes, and Continent Codes (2021)
for index, rows in df_2021.iterrows():
    cn_name = df_2021.loc[index,'Country name']
    try:
        df_2021.loc[index,'Country code'] = country_name_to_country_alpha2(cn_name, cn_name_format="default")
        cn_code = df_2021.loc[index,'Country code']
        df_2021.loc[index,'Continent code'] = country_alpha2_to_continent_code(cn_code)
    except:
        df_2021.loc[index,'Country code'] = 'unknown'
        df_2021.loc[index,'Continent code'] = 'unknown'
    if df_2021.loc[index, 'Continent code'] == 'NA':
        df_2021.loc[index,'Continent'] = 'North America'
    elif df_2021.loc[index, 'Continent code'] == 'SA':
        df_2021.loc[index,'Continent'] = 'South America'
    elif df_2021.loc[index, 'Continent code'] == 'AS':
        df_2021.loc[index,'Continent'] = 'Asia'
    elif df_2021.loc[index, 'Continent code'] ==  'OC':
        df_2021.loc[index,'Continent'] = 'Australia/Oceania'
    elif df_2021.loc[index,'Continent code'] == 'EU':
        df_2021.loc[index,'Continent'] = 'Europe'
    elif df_2021.loc[index,'Continent code'] == 'AF':
        df_2021.loc[index,'Continent'] = 'Africa'
    elif df_2021.loc[index,'Continent code'] == 'AN':
        df_2021.loc[index,'Continent'] = 'Antarctica'

#Adding year feature
df_2009['Year'] = '2009'
df_2021['Year'] = '2021'

In [ ]:
df_2009.to_csv(f'{directory}/2009_Happiness.csv') 
df_2021.to_csv(f'{directory}/2021_Happiness.csv')